Repository TEAM-PLAYTOGETHER/PlayTogether_Server, pull requests merged in 2022-09, with the labels that each got.

#197 마이페이지 API 구현
  src/constants/responseMessage.js
  src/controller/authController.js
  src/controller/crewController.js
  src/controller/userController.js
  src/db/authDao.js
  src/db/crewUserDao.js
  src/db/userDao.js
  src/middlewares/jwtAuthorization.js
  src/passport/googleStrategy.js
  src/passport/kakaoStrategy.js
  src/routes/authAPI.js
  src/routes/crewAPI.js
  src/routes/userAPI.js
  src/service/authService.js
  src/service/crewService.js
  src/service/userService.js
Labels: ⚡️ 기능, 🛠 리팩터링, user, 👾승헌

#199 develop to main
  src/constants/responseMessage.js
  src/controller/authController.js
  src/controller/crewController.js
  src/controller/userController.js
  src/db/authDao.js
  src/db/crewUserDao.js
  src/db/userDao.js
  src/middlewares/imageUpload.js
  src/middlewares/jwtAuthorization.js
  src/passport/googleStrategy.js
  src/passport/kakaoStrategy.js
  src/routes/authAPI.js
  src/routes/crewAPI.js
  src/routes/userAPI.js
  src/service/authService.js
  src/service/crewService.js
  src/service/userService.js
Labels: ⚡️ 기능, 🛠 리팩터링, user, 👾승헌

#201 [릴리즈] 메인머지
  src/db/lightDao.js
Labels: 🚀 릴리즈

#202 [릴리즈] 메인머지
  src/constants/responseMessage.js
  src/db/lightUserDao.js
  src/service/lightService.js
Labels: 🚀 릴리즈

#200 Refactor: 유저 차단 관련 API 수정
  src/controller/lightController.js
  src/controller/userController.js
  src/db/blockUserDao.js
  src/db/index.js
  src/db/lightDao.js
  src/db/messageDao.js
  src/db/userDao.js
  src/routes/lightAPI.js
  src/routes/userAPI.js
  src/service/lightService.js
  src/service/messageService.js
  src/service/userService.js
Labels: 🛠 리팩터링, user, 👾승헌

#205 유저 차단 및 닉네임 관련
  src/controller/lightController.js
  src/controller/userController.js
  src/db/blockUserDao.js
  src/db/index.js
  src/db/lightDao.js
  src/db/messageDao.js
  src/db/userDao.js
  src/lib/nicknameVerify.js
  src/routes/lightAPI.js
  src/routes/userAPI.js
  src/service/lightService.js
  src/service/messageService.js
  src/service/userService.js
Labels: 🛠 리팩터링, user, 👾승헌

#206 [릴리즈] 메인 머지
  src/db/lightDao.js
  src/service/lightService.js
  src/service/scrapService.js
Labels: 🚀 릴리즈

#207 [릴리즈] 메인머지
  src/service/lightService.js
Labels: 🚀 릴리즈

#209 [feat] 유저가 최근에 받은 모든 쪽지 리스트 조회 API에서 응답으로 프로필이미지 추가
  src/db/messageDao.js
  src/service/messageService.js
Labels: ⚡️ 기능, 🧐 동근, message

#211 [feat] 소켓 응답값이 더 많은 데이터를 담도록 수정
  src/db/messageDao.js
  src/service/messageService.js
  src/socket.js
Labels: ⚡️ 기능, 🧐 동근, message

#212 [release] 소켓서버 개선 릴리즈
  src/db/messageDao.js
  src/service/messageService.js
  src/socket.js
Labels: 🚀 릴리즈

#213 [릴리즈] 메인머지
  src/db/lightDao.js
  src/service/lightService.js
Labels: 🚀 릴리즈

#215 [릴리즈] 번개 신고 기능 추가
  src/constants/responseMessage.js
  src/controller/lightController.js
  src/db/index.js
  src/db/reportLightDao.js
  src/routes/lightAPI.js
  src/service/lightService.js
Labels: 🚀 릴리즈

#217 유저 차단 관련 API 구현
  src/constants/responseMessage.js
  src/controller/userController.js
  src/db/userDao.js
  src/routes/userAPI.js
  src/service/userService.js
Labels: ⚡️ 기능, user, 👾승헌

#219 Feat: 동아리원 프로필 상세조회 API
  src/constants/responseMessage.js
  src/controller/userController.js
  src/db/userDao.js
  src/routes/userAPI.js
  src/service/userService.js
Labels: ⚡️ 기능, 🛠 리팩터링, user, 👾승헌

#220 유저 차단 기능 구현
  src/constants/responseMessage.js
  src/controller/userController.js
  src/db/userDao.js
  src/routes/userAPI.js
  src/service/userService.js
Labels: ⚡️ 기능, 🛠 리팩터링, user, 👾승헌

#222 Fix: 유저 인증 로직 변경
  src/constants/jwt.js
  src/constants/responseMessage.js
  src/controller/authController.js
  src/db/authDao.js
  src/lib/jwtUtil.js
  src/lib/redis.js
  src/middlewares/jwtAuthorization.js
  src/package-lock.json
  src/package.json
  src/routes/authAPI.js
  src/service/authService.js
Labels: 🛠 리팩터링, user, 👾승헌

#223 유저 인증 로직 변경
  src/constants/jwt.js
  src/constants/responseMessage.js
  src/controller/authController.js
  src/db/authDao.js
  src/lib/jwtUtil.js
  src/lib/redis.js
  src/middlewares/jwtAuthorization.js
  src/package-lock.json
  src/package.json
  src/routes/authAPI.js
  src/service/authService.js
Labels: 🛠 리팩터링, user, 👾승헌

#225 refactor: 유저 프로필 조회시 동아리명 추가
  src/service/userService.js
Labels: 🛠 리팩터링, user, 👾승헌

#226 유저 프로필 조회시 동아리명 추가
  src/service/userService.js
Labels: 🛠 리팩터링, user, 👾승헌

#228 [release] socket 유저 아이디 검증 추가
  src/socket.js
Labels: 🚀 릴리즈

#231 [FIX] 정렬 조건 수정
  src/controller/lightController.js
Labels: 🐞 버그, light, 🐱제준, 🚀 릴리즈

#232 [FIX] order by 잘못된 sql 수정
  src/db/lightDao.js
Labels: 🐞 버그, 🚀 릴리즈

#233 [FIX] 찜 순 정렬 분기처리
  src/db/lightDao.js
  src/service/lightService.js
Labels: 🐞 버그, 🚀 릴리즈
