Repository TEAM-PLAYTOGETHER/PlayTogether_Server, pull requests merged in 2022-05, with the labels that each got.

#39 feat: 아이디 중복확인 API 구현
  src/constants/responseMessage.js
  src/controller/authController.js
  src/routes/authApi.js
  src/service/authService.js
Labels: ⚡️ 기능, user, 👾승헌

#41 feat: 유저 상세조회 API 구현
  src/constants/responseMessage.js
  src/controller/index.js
  src/controller/userController.js
  src/routes/index.js
  src/routes/userAPi.js
  src/service/index.js
  src/service/userService.js
Labels: ⚡️ 기능, user, 👾승헌

#45 feat: 내가 만든 번개 리스트 조회 기능 구현
  src/constants/responseMessage.js
  src/controller/lightController.js
  src/db/lightDao.js
  src/routes/lightApi.js
  src/service/lightService.js
Labels: ⚡️ 기능, light, 🐱제준

#47 feat: 내가 참여한 번개 리스트 조회 구현
  src/constants/responseMessage.js
  src/controller/lightController.js
  src/db/lightDao.js
  src/routes/lightApi.js
  src/service/lightService.js
Labels: ⚡️ 기능, light, 🐱제준

#49 [feat] 내가 찜한 번개 리스트 조회 기능 구현
  src/constants/responseMessage.js
  src/controller/lightController.js
  src/db/lightDao.js
  src/routes/lightApi.js
  src/service/lightService.js
Labels: ⚡️ 기능, light, 🐱제준

#51 feat: 카테고리별 번개 리스트 조회 구현
  src/constants/responseMessage.js
  src/controller/lightController.js
  src/db/lightDao.js
  src/routes/lightApi.js
  src/service/lightService.js
Labels: ⚡️ 기능, light, 🐱제준

#54 Feat/#53
  src/constants/responseMessage.js
  src/controller/lightController.js
  src/db/lightDao.js
  src/lib/calculateAge.js
  src/package-lock.json
  src/package.json
  src/routes/lightApi.js
  src/service/lightService.js
Labels: ⚡️ 기능, light, 🐱제준

#52 [feat] 메시지 읽음 확인 기능 추가
  src/db/messageDao.js
  src/service/messageService.js
Labels: ⚡️ 기능, 🧐 동근, message

#55 서버 1차 완성
  .gitignore
  src/config/index.js
  src/constants/jwt.js
  src/constants/responseMessage.js
  src/controller/authController.js
  src/controller/crewController.js
  src/controller/index.js
  src/controller/lightController.js
  src/controller/messageController.js
  src/controller/scrapController.js
  src/controller/userController.js
  src/db/authDao.js
  src/db/crewDao.js
  src/db/crewUserDao.js
  src/db/index.js
  src/db/lightDao.js
  src/db/lightUserDao.js
  src/db/messageDao.js
  src/db/scrapDao.js
  src/db/testDao.js
  src/db/userDao.js
  src/lib/calculateAge.js
  src/lib/createCrewCode.js
  src/lib/jwtHandler.js
  src/loaders/db.js
  src/middlewares/jwtAuthorization.js
  src/middlewares/multer.js
  src/package-lock.json
  src/package.json
  src/routes/authApi.js
  src/routes/crewAPI.js
  src/routes/index.js
  src/routes/lightApi.js
  src/routes/messageAPI.js
  src/routes/scrapApi.js
  src/routes/userAPi.js
  src/service/authService.js
  src/service/crewService.js
  src/service/index.js
  src/service/lightService.js
  src/service/messageService.js
  src/service/scrapService.js
  src/service/userService.js
Labels: 🚀 릴리즈

#57 [feat] 번개 관련 API 분기 처리 구현
  src/constants/responseMessage.js
  src/controller/lightController.js
  src/controller/scrapController.js
  src/db/crewDao.js
  src/db/lightDao.js
  src/db/scrapDao.js
  src/routes/lightApi.js
  src/service/lightService.js
  src/service/scrapService.js
Labels: ⚡️ 기능, light, 🐱제준

#59 feat: 번개 관련 API 현재 인원 기능 구현
  src/db/lightDao.js
  src/service/lightService.js
Labels: ⚡️ 기능, light, 🐱제준

#61 feat: 번개 소유자도 번개에 참여 시키는 기능구현
  src/db/lightDao.js
  src/service/lightService.js
Labels: ⚡️ 기능, light, 🐱제준

#65 [fix] GET /api/message/:roomid 읽음 로직 수정, 비정상 접근 처리
  src/constants/responseMessage.js
  src/controller/messageController.js
  src/db/messageDao.js
  src/service/messageService.js
Labels: 🐞 버그, 🧐 동근, message

#67 feat: req.param -> token으로 변경
  src/controller/lightController.js
  src/routes/lightApi.js
Labels: ⚡️ 기능, light, 🐱제준

#69 1차 배포 이후 테스트 과정에서 발생한 오류 개선
  src/constants/responseMessage.js
  src/controller/lightController.js
  src/controller/messageController.js
  src/controller/scrapController.js
  src/db/crewDao.js
  src/db/lightDao.js
  src/db/messageDao.js
  src/db/scrapDao.js
  src/routes/lightApi.js
  src/routes/scrapApi.js
  src/service/crewService.js
  src/service/lightService.js
  src/service/messageService.js
  src/service/scrapService.js
Labels: 🚀 릴리즈

#74 feat: 비밀번호 길이 처리 로직 추가
  src/constants/responseMessage.js
  src/controller/authController.js
  src/package-lock.json
Labels: ⚡️ 기능, user, 👾승헌

#76 [fix] ScarpService, LightService들 트랜잭션 처리 수정
  src/db/lightDao.js
  src/db/lightUserDao.js
  src/db/scrapDao.js
  src/service/lightService.js
  src/service/scrapService.js
Labels: 🐞 버그, light, 🐱제준

#77 [fix] crew 서비스 트랜잭션 추가
  src/controller/crewController.js
  src/db/crewDao.js
  src/db/crewUserDao.js
  src/service/crewService.js
Labels: 🐞 버그, 🧐 동근, crew

#79 [fix] message 서비스 트랜잭션 추가
  src/controller/messageController.js
  src/db/messageDao.js
  src/service/messageService.js
Labels: 🐞 버그, 🧐 동근, message

#83 [fix] Message, Crew 리턴 타입 의도에 맞게 수정
  src/controller/crewController.js
  src/controller/messageController.js
  src/index.js
  src/service/crewService.js
  src/service/messageService.js
Labels: 🐞 버그, 🧐 동근, crew, message

#84 트랜잭션 추가, 회원가입 API 변경 릴리즈
  src/constants/responseMessage.js
  src/controller/authController.js
  src/controller/crewController.js
  src/controller/messageController.js
  src/controller/userController.js
  src/db/authDao.js
  src/db/crewDao.js
  src/db/crewUserDao.js
  src/db/lightDao.js
  src/db/lightUserDao.js
  src/db/messageDao.js
  src/db/scrapDao.js
  src/db/userDao.js
  src/index.js
  src/middlewares/jwtAuthorization.js
  src/package-lock.json
  src/routes/authApi.js
  src/routes/userAPi.js
  src/service/authService.js
  src/service/crewService.js
  src/service/lightService.js
  src/service/messageService.js
  src/service/scrapService.js
  src/service/userService.js
Labels: 🚀 릴리즈

#86 번개 리스트(내가만든/찜/참여한) category 값 추가
  src/db/lightDao.js
  src/service/lightService.js
Labels: 🚀 릴리즈

#88 fix: 번개 상세 조회 리스트 organizerId 추가
  src/db/lightDao.js
  src/service/lightService.js
Labels: 🚀 릴리즈

#92 [feat] 채팅방 메시지 가져오기 시간 정렬 오름차순으로 변경
  src/db/messageDao.js
  src/index.js
Labels: ⚡️ 기능, 🧐 동근, message

#95 fix: 번개 생성 시 이미지 값 삭제
  src/controller/lightController.js
  src/db/lightDao.js
  src/routes/lightApi.js
  src/service/lightService.js
Labels: 🐞 버그, light, 🐱제준

#98 [feat] img null값 처리
  src/controller/lightController.js
Labels: ⚡️ 기능, light, 🧐 동근

#99 Feat/#94
  src/db/lightDao.js
  src/lib/applyKoreanTime.js
  src/lib/calculateAge.js
  src/service/lightService.js
  src/service/messageService.js
Labels: ⚡️ 기능, light, message, 👾승헌

#101 update: 유저 및 번개 상세조회 response 데이터 추가
  src/db/lightDao.js
  src/service/lightService.js
  src/service/userService.js
Labels: light, user, 👾승헌

#103 fix: 번개 삭제 시 번개 안에 유저 전부 삭제
  src/controller/lightController.js
  src/db/lightDao.js
  src/db/lightUserDao.js
  src/service/lightService.js
Labels: 🐞 버그, light, 🐱제준

#104 번개 생성 시 이미지 값 처리, 번개 리스트 response 데이터 추가, 번개 삭제 시 오류 수정
  src/controller/lightController.js
  src/db/lightDao.js
  src/db/lightUserDao.js
  src/lib/applyKoreanTime.js
  src/lib/calculateAge.js
  src/service/lightService.js
  src/service/messageService.js
  src/service/userService.js
Labels: 🐞 버그, ⚡️ 기능, light, 🐱제준

#105 번개 리스트 머지 테스트
  src/db/lightUserDao.js
  src/lib/calculateAge.js
  src/service/lightService.js
Labels: 🚀 릴리즈

#106 console.log 삭제, test 삭제
  src/controller/index.js
  src/controller/testController.js
  src/controller/userController.js
  src/db/index.js
  src/db/testDao.js
  src/lib/applyKoreanTime.js
  src/middlewares/jwtAuthorization.js
  src/routes/index.js
  src/routes/testAPI.js
  src/service/index.js
  src/service/messageService.js
  src/service/testService.js
Labels: 🛠 리팩터링, 🧐 동근
