Repository TEAM-PLAYTOGETHER/PlayTogether_Server, pull requests merged in 2022-04, with the labels that each got.

#5 [feat] jwt 디코딩 미들웨어 구현
  src/db/testDao.js
  src/lib/sampleJwt.js
  src/middlewares/jwtAuthorization.js
Labels: ⚡️ 기능, 🧐 동근

#8 [feat] 번개 생성 기능 구현
  .gitignore
  src/constants/responseMessage.js
  src/controller/index.js
  src/controller/lightController.js
  src/db/index.js
  src/db/lightDao.js
  src/middlewares/multer.js
  src/package-lock.json
  src/package.json
  src/routes/index.js
  src/routes/lightApi.js
  src/service/index.js
  src/service/lightService.js
Labels: ⚡️ 기능, light, 🐱제준

#7 [feat] 모든 쪽지 리스트 조회 GET 기능 구현
  src/constants/responseMessage.js
  src/controller/messageController.js
  src/db/messageDao.js
  src/routes/messageAPI.js
  src/service/messageService.js
Labels: ⚡️ 기능, 🧐 동근, message

#12 [feat] 유저와의 쪽지 내용 조회 GET 기능 구현
  src/controller/messageController.js
  src/db/messageDao.js
  src/package-lock.json
  src/package.json
  src/routes/messageAPI.js
  src/service/messageService.js
Labels: ⚡️ 기능, 🧐 동근, message

#13 [feat] 메시지 전송 POST에 jwt 디코드 미들웨어 연결
  src/controller/messageController.js
  src/db/testDao.js
  src/lib/util.js
  src/routes/messageAPI.js
  src/service/messageService.js
Labels: ⚡️ 기능, 🧐 동근, message

#10 [feat] 번개 수정 api 구현
  src/constants/responseMessage.js
  src/controller/lightController.js
  src/db/lightDao.js
  src/routes/lightApi.js
  src/service/lightService.js
Labels: ⚡️ 기능, light, 🐱제준

#19 feat: 회원가입 API 구현
  src/constants/responseMessage.js
  src/controller/authController.js
  src/controller/index.js
  src/db/authDao.js
  src/db/index.js
  src/db/userDao.js
  src/middlewares/jwtAuthorization.js
  src/package-lock.json
  src/package.json
  src/routes/authApi.js
  src/routes/index.js
  src/service/authService.js
  src/service/index.js
  src/service/messageService.js
Labels: ⚡️ 기능, user, 👾승헌

#21 [feat] 동아리 생성 POST 구현
  src/constants/responseMessage.js
  src/controller/crewController.js
  src/controller/index.js
  src/db/crewDao.js
  src/db/crewUserDao.js
  src/db/index.js
  src/lib/createCrewCode.js
  src/routes/crewAPI.js
  src/routes/index.js
  src/routes/lightApi.js
  src/service/crewService.js
  src/service/index.js
Labels: ⚡️ 기능, 🧐 동근, crew

#22 feat: 로그인 API 구현
  src/constants/jwt.js
  src/controller/authController.js
  src/db/userDao.js
  src/lib/jwtHandler.js
  src/lib/sampleJwt.js
  src/routes/authApi.js
  src/service/authService.js
Labels: ⚡️ 기능, user, 👾승헌

#23 [feat] 번개 참여 기능 구현
  src/constants/responseMessage.js
  src/controller/lightController.js
  src/db/lightDao.js
  src/routes/lightApi.js
  src/service/lightService.js
Labels: ⚡️ 기능, light, 🐱제준

#25 feat: 번개 취소 및 참여 api 구현
  src/constants/responseMessage.js
  src/controller/lightController.js
  src/db/lightDao.js
  src/routes/lightApi.js
  src/service/lightService.js
Labels: ⚡️ 기능, light, 🐱제준

#27 [Feat] 번개 삭제 기능 구현
  src/constants/responseMessage.js
  src/controller/lightController.js
  src/db/lightDao.js
  src/routes/lightApi.js
  src/service/lightService.js
Labels: ⚡️ 기능, light, 🐱제준

#29 [feat] 회원 동아리 가입 API
  src/constants/responseMessage.js
  src/controller/crewController.js
  src/db/crewUserDao.js
  src/routes/crewAPI.js
  src/service/crewService.js
Labels: ⚡️ 기능, 🧐 동근, crew

#31 [feat] 회원이 가입한 동아리 리스트 가져오기
  src/constants/responseMessage.js
  src/controller/crewController.js
  src/db/crewUserDao.js
  src/routes/crewAPI.js
  src/service/crewService.js
Labels: ⚡️ 기능, 🧐 동근, crew

#34 [feat] 동아리 삭제 API
  src/constants/responseMessage.js
  src/controller/crewController.js
  src/db/crewDao.js
  src/db/crewUserDao.js
  src/routes/crewAPI.js
  src/service/crewService.js
Labels: ⚡️ 기능, 🧐 동근, crew

#36 [fix] null check하는 코드 추가
  src/controller/crewController.js
  src/controller/messageController.js
Labels: 🐞 버그, 🧐 동근, crew, message

#37 [feat] 찜 하기 및 찜 취소하기 기능 구현
  src/constants/responseMessage.js
  src/controller/index.js
  src/controller/lightController.js
  src/controller/scrapController.js
  src/db/index.js
  src/db/lightDao.js
  src/db/lightUserDao.js
  src/db/scrapDao.js
  src/routes/index.js
  src/routes/scrapApi.js
  src/service/index.js
  src/service/lightService.js
  src/service/scrapService.js
Labels: ⚡️ 기능, light, 🐱제준
