Repository TEAM-PLAYTOGETHER/PlayTogether_Server, pull requests merged in 2022-07, with the labels that each got.

#116 [feat] 번개 검색 기능 구현
  src/constants/responseMessage.js
  src/controller/lightController.js
  src/db/lightDao.js
  src/routes/lightApi.js
  src/service/lightService.js
Labels: ⚡️ 기능, light, 🐱제준

#119 [feat] 계정 당 동아리 생성 갯수 제한 기능 추가
  src/constants/responseMessage.js
  src/db/crewDao.js
  src/service/crewService.js
Labels: ⚡️ 기능, 🧐 동근, crew

#120 [feat] 계정 당 동아리 가입 갯수 제한 기능 추가
  src/db/crewUserDao.js
  src/service/crewService.js
Labels: ⚡️ 기능, 🧐 동근, crew

#122 [feat] 번개 리스트 PageNation 추가
  src/controller/lightController.js
  src/db/lightDao.js
  src/lib/pageNation.js
  src/service/lightService.js
Labels: ⚡️ 기능, light, 🐱제준

#124 feat: 동아리 개설 시 동아리 설명 필수 값으로 추가
  src/controller/crewController.js
  src/db/crewDao.js
  src/service/crewService.js
Labels: ⚡️ 기능, 🧐 동근, crew

#127 여러가지 기능 추가 릴리즈~
  src/constants/responseMessage.js
  src/controller/crewController.js
  src/controller/lightController.js
  src/db/crewDao.js
  src/db/crewUserDao.js
  src/db/lightDao.js
  src/index.js
  src/lib/pageNation.js
  src/routes/lightApi.js
  src/service/crewService.js
  src/service/lightService.js
Labels: 🚀 릴리즈
