Repository TEAM-PLAYTOGETHER/PlayTogether_Server, pull requests merged in 2022-10, with the labels that each got.

#236 [FIX] scp_cnt String to int
  src/service/lightService.js
Labels: 🐞 버그, light, 🐱제준

#240 [feat] 채팅방 메시지 가져오기 페이지네이션 추가
  src/controller/messageController.js
  src/db/lightDao.js
  src/db/messageDao.js
  src/lib/pageNation.js
  src/passport/googleStrategy.js
  src/passport/kakaoStrategy.js
  src/service/authService.js
  src/service/messageService.js
Labels: ⚡️ 기능, 🧐 동근, message

#241 [feat] reqExitRoom 발생시 모든 수신메시지 읽음처리
  src/index.js
  src/service/messageService.js
  src/socket.js
Labels: ⚡️ 기능, 🧐 동근, message

#242 [release] 채팅 수정 릴리즈
  src/controller/messageController.js
  src/db/lightDao.js
  src/db/messageDao.js
  src/index.js
  src/lib/pageNation.js
  src/passport/googleStrategy.js
  src/passport/kakaoStrategy.js
  src/service/authService.js
  src/service/messageService.js
  src/socket.js
Labels: 🚀 릴리즈

#245 [chore] 메시지 가져오기 시간 역순으로 변경
  src/db/messageDao.js
Labels: 🧐 동근, message

#247 [release] 클라이언트 요구사항 반영 업데이트
  src/constants/responseMessage.js
  src/controller/crewController.js
  src/db/messageDao.js
  src/index.js
  src/routes/crewAPI.js
  src/service/crewService.js
Labels: 🚀 릴리즈

#248 [release] github actions ubuntu 버전 변경
  .github/workflows/distribute.yml
Labels: 🚀 릴리즈

#251 [release] 커서기반 수정 배포
  src/controller/messageController.js
  src/db/messageDao.js
  src/index.js
  src/service/messageService.js
Labels: 🚀 릴리즈

#253 [feat] 동아리 id값, 이름 response에 추가
  src/service/crewService.js
Labels: ⚡️ 기능, 🧐 동근, crew

#254 [release] 동아리 가입가능여부 확인 시 response에 이름, id값 추가
  README.md
  src/service/crewService.js
Labels: 🚀 릴리즈
